@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFCC00;
  width: 100%;
  height: 100%;
  background-image: url(../images/pokimon-bg.webp);
  background-repeat: no-repeat;
  background-position: 10% 75%;
  background-size: cover;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid #ff5f02;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.card-bg {
  background: #016aac;
}

.choose {
  background: #016aac;
  color: white !important;
}

.pokemonValue {
  font-family: "Dancing Script", cursive;
}

.pokemonValue2 {
  font-family: "Schoolbell", cursive;
}

.pokemonValue3 {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFCC00;
}

main img {
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
main img:hover {
  transform: scale(1.4);
  z-index: 2;
}

header {
  background: #FFCC00;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10000;
  top: 0;
  padding: 1rem 0;
  transition: 0.5s;
}

.navbar-shrink {
  background: #e1a306;
  box-shadow: 0 0 5px #e15606;
  padding: 5px 0 !important;
  transition: 0.5s;
}

.pokemon-list {
  display: flex;
  gap: 30px;
}

.cardHover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: height 1s ease-out;
  background: linear-gradient(to top, transparent 0%, #e1a306 -20%, #e1a306 100%);
  background-size: cover;
}

.cardHover:hover:before {
  height: 100%;
}

.cardHover:hover .img {
  z-index: 999 !important;
}
.cardHover:hover .pokName {
  z-index: 999 !important;
  display: block !important;
  color: #016aac !important;
}
.cardHover:hover .card-body, .cardHover:hover .id {
  display: none !important;
}

.renders {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputColor {
  color: #016aac !important;
  text-align: center;
}

input::-moz-placeholder {
  color: yellow !important;
  text-align: center;
}

input:-ms-input-placeholder {
  color: yellow !important;
  text-align: center;
}

input::placeholder, select, input:focus, input {
  color: yellow !important;
  text-align: center;
}

.inputBg {
  background-color: #016aac !important;
}

option {
  text-align: center;
}

input {
  border: none !important;
  outline: none !important;
  border-radius: 25px 0 0 25px !important;
  transition: 0.5s;
}

#button-addon2 {
  position: relative;
  border-radius: 0 25px 25px 0 !important;
  background: #e1a306;
  color: yellow;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #e1a306;
  height: calc(100vh - 300px);
}

body::-webkit-scrollbar-track {
  background: #016aac;
}

.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */